@media screen and (max-width: 576px) { 
   .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

   .card {
      padding:0;
      margin:0;
   }
 }

@media screen and (max-width: 345px){
   p {
      float: left;
   }
}

@media screen and (max-width: 270px) {
   body {
      display:none;
   }  
}